$desktop: '(min-width:840px)';
$tablet: '(min-width:480px) and (max-width:839px)';
$mobile: '(min-width:320px) and (max-width:479px)';

@mixin tablet($desktop) {
    @media all and ($desktop) {
        @content;
    }
}

@mixin tablet($tablet) {
    @media all and ($tablet) {
        @content;
    }
}

@mixin tablet($mobile) {
    @media all and ($mobile) {
        @content;
    }
}