
$Black: #000000;
$White: white;
$mainColor: red;

/* Fonts */

/* Line Heights */
$base-line-height: 1.5;

/* Spacing */


/* Width of Content Area */
$min-901:only screen and (min-width: 900px);

/* Gradient Bar Variables */
