.rl-about{
	margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: auto;
}
.about-avatar{
	text-align:center;
	& img{
		border-radius:50%;
	}
}
.about-right{
	background: #27221F;
	color: white;
	padding: 2em;
}