.landing-content{
    padding: 8% 5%;
    height: 100%;
    width: 100%;
    overflow: hidden;
	background-color:$landingbg;
	@media #{$tablet} {
		padding: 10% 0%;
	}
	@media #{$mobile} {
		padding: 10% 0%;
	}
}
.row{
	height: 100%;
	margin: 0;
}
.landing-outer{
	transform: perspective(600px) rotateY(15deg);
	margin: auto;
	width:600px;
	height: 400px;
	background:url('../../images/desktop.png') no-repeat center center;
	@media #{$tablet} {
		margin: auto;
		transform: perspective(460px) rotateY(8deg);
		width:460px;
		height: 320px;
		background:url('../../images/tablet.png') no-repeat center center;
	}
	@media #{$mobile} {
		margin: auto;
		transform: perspective(300px) rotateY(8deg);
		width:300px;
		height: 220px;
		background:url('../../images/mobile.png') no-repeat center center;
	}
	
}
.landing-inner{
	margin-top: 50px;
    width: 460px;
    margin-left: 68px;
    height: 290px;
    position:absolute;
    @media #{$tablet} {
    	width: 330px;
	    margin-left: 64px;
	    height: 198px;
	    margin-top: 59px;
	    position: absolute;
    }
    @media #{$mobile} {
    	position: absolute;
    	width: 215px;
	    margin-left: 42px;
	    height: 131px;
	    margin-top: 42px;
    }
    

}
#particles-js div{
	width:100%;
	height:290px;
	@media #{$tablet} {
		width:100%;
		height:198px;
	}
	@media #{$mobile} {
		width:100%;
		height:131px;
	}
	
}

//Typist
.landing-typetext{
	margin-top: 30%;
	@media #{$tablet} {
		margin: 0 10% 25%;
	}
	@media #{$mobile} {
		margin: 0 5% 40%;
	}
	.fancy-heading{
		 font-size: 22px;
    	 line-height: 26px;
	}
	.fancy-text{
		font-size: 18px;
		line-height: 22px;
	}
	
}
.Typist .Cursor {
  display: inline-block;
  font-size: 20px;
  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
  }
}