/* Mobile Hambuerger Styling */
div.hamburger{
    display:block;
    width:36px;
    height: 30px;
    position:fixed;
    top:20px;
    right:25px;
    cursor:pointer;
    z-index: 9999;
}
div.hamburger div.line{
    width:100%;
    height: 6px;
    margin:0 0 6px 0;
    background:$White;
    transition: transform 0.3s, opacity 0.1s;
}

/* End Mobile Hamburger Styling */
.hide {
    opacity: 0;
    transform: translate(42px);
}

.animate0 {
    transform: rotate(45deg) translateY(17px);
}

.animate2 {
    transform: rotate(-45deg) translateY(-17px);
}
/* Animation classes for Hamburger Rotation Animation Styling Used in topNavNarrow */



/* End Animation classes for Hamburger Rotation Animation Styling in topNavNarrow */
nav.responsive-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    overflow-y: visible;
    position: fixed;
    opacity: 1;
    z-index: 1;
    background: $Black;
    transition: height 0.5s ease, opacity 1s;
    li a, li div.active {
        display: none !important;
    }
    & ul {
        -webkit-transform:perspective(600) rotate3d(1,0,0,-90deg);
        -webkit-transform-origin:50% 0;
        -webkit-transition:350ms;
        -moz-transition:350ms;
        -o-transition:350ms;
        transition:350ms;
    }
}
nav.responsive-menu.show {
    opacity: 1;
    z-index: 2;
    transition: height 0.5s ease, visibility 1s;
    height: auto;
    background: $Black;
    padding-top:100px;
    li a, li div.active  {
        display: block !important;
        font-size: 24px;
        text-align: center;
        margin: 10px 0;
    }
    a {
        color: $White;
        &:hover, &:focus {
            color: $landingbg;
            transition: 1s ease-out;
        }
    }
    .brand a {
        color: $White;
    }

    & ul {
        -webkit-transform:perspective(600) rotate3d(0,0,0,0);
        margin: 30px auto 30px;
        li div.active a {
            display: none !important;
        }
    }
    @media #{$desktop} {
        display: none;
    }
}
/* Get rid of .top nav > 900px wide screens with display: none so does not take up space on page */

nav.top {
    display: none;
}

/* End responsive Menu Styling */

/* Wider Screens Styling > 675px */

div.hamburger,
nav.responsive-menu {
    @media #{$desktop} {
        display: none;
    }
}

/* Make sure that nav links are not reversed in mobile */

nav li a {
    display: block;
    @media #{$desktop} {
        display: inline-block;
        text-decoration: none;
        display: inline-block;
    }
}

nav li {
    display: block;
    text-transform:uppercase;
    @media #{$desktop} {
        display: inline-block;
    }
}

nav ul {
    @media #{$desktop} {
        display: inline-block;
        float: right;
    }
}
/* Nav Styling > 900px wide */

nav.top {
    max-width:1360px;
    @media #{$desktop} {
        position:fixed;
        display: block;
        top: 0;
        width: 100%;
        height: 10vh;
        background: $Black;
        z-index: 4;
    }
    ul {
        list-style: none;
        margin: 3px 50px;
    }
    li {
        margin-top: 20px;
        margin-right: 20px;
    }
    li a  {
        display: block !important;
        font-size: 20px;
    }
    a {
        color: $White;
        &:hover, &:focus {
            color: red;
            transition: 1s ease-out;
        }
    }
    .brand a {
        color: $White;
        margin: 0px 0 0 40px;
    }
    li a.active {
        display: none;
    }
}
/* get rid of duplicate active links created by label with react-router-dom. Gets rid of dups in mobile nav. */

li div a, li div.active a {
    display: none !important;
}

.brand {
    a {
        position: fixed;
        top: 23px;
        color: $White;
        @media #{$mobile} {
            font-size: 24px;
            margin-left: 15px;
        }
        @media #{$tablet} {
            font-size: 28px;
            margin-left: 18px;
        }
    }
}