
.rl-portfolio{
	margin: 0;
    padding:70px 5% 150px;
    @media #{$tablet} {
      padding:50px 10% 150px;
    }
    @media #{$mobile} {
      padding:50px 5% 150px;
    }
}
.portfolios-grid{
	display:flex;
}
.projects-grid {
    display: flex;
    justify-content: between;
    flex-wrap: wrap;
}
.project-card{
	min-width:450px;
	margin: 30px auto;
	z-index:0 !important;
	@media #{$tablet} {
      min-width:250px;
	  margin: 30px auto;
	  z-index:0 !important;
    }
    @media #{$mobile} {
	    min-width: 240px;
	    margin: 30px auto;
	    z-index: 0 !important;
	    width: 100%;
    }
	.project-links{
		display: flex;
    justify-content: space-between;
    .mdl-button:hover,.mdl-button:active{
      background-color: White;
    }
	}
}
.mdl-button a i {
  color: black;
  font-size: 2em;
  .mdl-button a i:hover{
      color: #3f51b5;
      font-size: 2em;
  }
}
